            <div class="main-info @@if ( context.main_info ) {active}">
                <a href="#" class="btn btn-info plus" data-toggle="modal" data-target="#create_post"></a>
                <a href="#" class="btn btn-info question"></a>
            </div>

            <a href="#" class="go-to-top scroll-smooth">Go Up <svg class="icon icon-arrow-top"><use xlink:href="#icon-arrow-top"></use></svg></a>
            <div class="overlay"></div>

        <script src="https://use.fontawesome.com/4d7b082d35.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script src="js/external.js"></script>
        <script src="js/internal.js"></script>