            <header class="site-header">
                <div class="site-header-container">
                    <button class="icon icon-menu show-menu hide-search">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="logo logo-desk"><svg class="icon icon-logo-desk"><use xlink:href="#icon-logo-desk"></use></svg></a>
                    <ul class="main-menu">
                        <li><a href="clans.html">Clans</a></li>
                        <li><a href="topics.html">Topics</a></li>
                    </ul>
                    <button type="submit" class="search-btn static mobile"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg></button>
                    <div class="search-block">
                        <form action="">
                            <input type="search" class="search-input">
                            <button type="submit" class="search-btn"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg></button>

                            <div class="search-result">
                                <button type="reset" class="clear">Clear all</button>
                                <p class="title">Recent Search</p>

                                <ul>
                                    <li><a href="#">Nick Forman</a></li>
                                    <li><a href="#">Nick Germat</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <a href="index.html" class="logo logo-mob"><svg class="icon icon-logo-mob"><use xlink:href="#icon-logo-mob"></use></svg></a>
                    <div class="right">
                        @@if ( !context.root ) {
                        <div class="dropdown">
                            <a class="dropdown-toggle alerts-btn" type="button" id="alerts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="hidden-xs hidden-sm">Alerts <span class="count">+22</span></span>
                                <svg class="icon icon-alerts hidden-md hidden-lg"><use xlink:href="#icon-alerts"></use></svg>
                            </a>
                            <div class="dropdown-menu alerts">
                                <ul class="alerts-nav tab-nav" role="tablist">
                                    <li role="presentation" class="active"><a href="#activity" role="tab" data-toggle="tab">Activity</a></li>
                                    <li role="presentation"><a href="#invites" role="tab" data-toggle="tab">Invites</a></li>
                                </ul>

                                <div class="tab-content alerts-list">
                                    <div role="tabpanel" class="tab-pane active" id="activity">
                                        <ul>
                                            <li>
                                                <a href="#" class="alerts-link">
                                                    <img src="img/act1.png" alt="">
                                                    <div class="alerts-content">
                                                        <p class="title"><strong>Gabor Rutinas</strong> shared a link</p>
                                                        <p class="text">«An Interactive Film About Co-Living Dra…»</p>
                                                        <span class="date">October 26, at 3:54 pm</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="alerts-link not-read">
                                                    <img src="img/act1.png" alt="">
                                                    <div class="alerts-content">
                                                        <p class="title"><strong>Gabor Rutinas</strong> likes a video you shared</p>
                                                        <span class="date">October 26, at 3:54 pm</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="alerts-link">
                                                    <img src="img/act1.png" alt="">
                                                    <div class="alerts-content">
                                                        <p class="title"><strong>Max Floorder</strong> shared <strong>Gabor Rutinas’s</strong> post</p>
                                                        <span class="date">October 26, at 3:54 pm</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="alerts-link">
                                                    <img src="img/act1.png" alt="">
                                                    <div class="alerts-content">
                                                        <p class="title"><strong>John Smith</strong> commented on your video</p>
                                                        <span class="date">October 26, at 3:54 pm</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="alerts-link">
                                                    <img src="img/act1.png" alt="">
                                                    <div class="alerts-content">
                                                        <p class="title"><strong>Ford Fordson</strong> posted on your Clan</p>
                                                        <span class="date">October 26, at 3:54 pm</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="alerts-all">View all</a>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="invites">
                                        <ul>
                                            <li>
                                                <a href="#" class="alerts-link">
                                                    <img src="img/act1.png" alt="">
                                                    <div class="alerts-content">
                                                        <p class="title"><strong>Gabor Rutinas</strong> shared a link</p>
                                                        <p class="text">«An Interactive Film About Co-Living Dra…»</p>
                                                        <span class="date">October 26, at 3:54 pm</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="alerts-link not-read">
                                                    <img src="img/act1.png" alt="">
                                                    <div class="alerts-content">
                                                        <p class="title"><strong>Gabor Rutinas</strong> likes a video you shared</p>
                                                        <span class="date">October 26, at 3:54 pm</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="alerts-link">
                                                    <img src="img/act1.png" alt="">
                                                    <div class="alerts-content">
                                                        <p class="title"><strong>Max Floorder</strong> shared <strong>Gabor Rutinas’s</strong> post</p>
                                                        <span class="date">October 26, at 3:54 pm</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <a href="#" class="alerts-all">View all</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" type="button" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="hidden-xs hidden-sm">Slava Budnik</span>
                                <img src="img/avatar.png" alt="" class="hidden-md hidden-lg">
                            </a>
                            <div class="dropdown-menu profile">
                                <ul>
                                    <li><a href="mypage.html">My page</a></li>
                                    <li class="hidden-md hidden-lg"><a href="#">158 Followers</a></li>
                                    <li class="hidden-md hidden-lg"><a href="#">1 558 Following</a></li>
                                    <li class="hidden-md hidden-lg"><a href="#">Likes</a></li>
                                    <li class="hidden-md hidden-lg"><a href="#">Clans</a></li>
                                    <li class="hidden-md hidden-lg"><a href="#">Topics</a></li>
                                    <li><a href="settings.html">Settings</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                        }
                        @@if ( context.root === 'false' ) {
                        <div class="dropdown overlay-open">
                            <a href="#" data-toggle="modal" data-target="#sign_in">
                                <span class="hidden-xs">Log in</span>
                            </a>
                        </div>
                        <div class="dropdown overlay-open">
                            <a href="#" data-toggle="modal" data-target="#sign_up">
                                <span>Sign up</span>
                            </a>
                        </div>
                        }
                    </div>
                </div>
            </header>