            <header class="post-header">
                <div class="site-header-container">
                    <div class="profile-details">
                        <div class="profile-thumb">
                            <a href="mypage.html">
                                <img src="img/avatar.png" alt="">
                            </a>
                        </div>
                        <div class="profile-info">
                            <p class="name">Slava Budnik</p>
                            <span class="date">shared a link <span>1d ago  9 856 views</span></span>
                        </div>
                        <span class="heading-info follow">
                            <svg class="icon icon-check"><use xlink:href="#icon-check"></use></svg>
                            <svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg>
                            <span class="text">Following</span>
                        </span>
                    </div>
                    <div class="feed-tools">
                        <span class="tool like" data-toggle-class="active">
                            <svg class="icon icon-like"><use xlink:href="#icon-like"></use></svg>
                            <svg class="icon icon-like-full"><use xlink:href="#icon-like-full"></use></svg>
                            Like
                        </span>
                        <span class="tool messages icon-hover">
                            <svg class="icon icon-messages"><use xlink:href="#icon-messages"></use></svg>
                            <svg class="icon icon-messages-full"><use xlink:href="#icon-messages-full"></use></svg>
                            Comments
                        </span>
                        <span class="tool repost"><a href="#">Repost</a></span>
                        <span class="tool more">
                            <div class="dropdown right-center">
                                <a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <svg class="icon icon-more"><use xlink:href="#icon-more"></use></svg>
                                </a>
                                <div class="dropdown-menu share">
                                    <ul>
                                        <li class="report report-user">Report User</li>
                                        <li class="report report-user-accept">Yes, I Want to Report Gabor</li>
                                        <li class="report report-user-cancel" data-toggle="dropdown-close">Cancel</li>
                                    </ul>
                                </div>
                            </div>
                        </span>
                        <span class="tool cross">
                            <a href="javascript:history.back()"><svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg></a>
                        </span>
                    </div>
                </div>
            </header>