.form {
  &-group {
    width: 100%;
    position: relative;
    margin-bottom: 35px;

    &.active {
      .form {
        &-control {

        }
        &-placeholder {
          top: -10px;
        }
      }
    }
    &.select {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 12px;
        right: 0;
        border-top: 6px solid $text-color;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        z-index: 9;
        pointer-events: none;
      }
    }
    &.image {
      position: relative;

      label {
        width: 100%;
      }
      input {
        display: none;
      }
      img {
        cursor: pointer;
        width: 100%;
        margin-bottom: 0;
      }
      .text {
        cursor: pointer;
        position: absolute;
        bottom: 15px;
        left: 0;
        right: 0;
        font-weight: 400;
        text-align: center;
        font-size: 13px;
        color: #fff;
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.98);
      }
    }
    &.upload-video {
      min-height: 270px;
      background: #F3F3F3;
      padding: 15px;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      @include flex-wrap(wrap);

      &.active {
        .form-control {
          min-height: 34px !important;
          padding-top: 5px !important;
        }
      }
      .title {
        font-size: 24px;
        color: #797979;
        margin: auto 0 12px 0;
      }
      .form {
        &-control {
          min-height: 34px;
          margin: 0 auto auto;
          max-width: 305px;
          border: 0;
          text-align: center;
          @include placeholder{
            font-size: 15px;
            line-height: 22px;
          }
        }
      }
    }
    .chars {
      position: absolute;
      top: 50%;
      margin-top: -7px;
      right: 0;
      font-size: 12px;
      color: #b2b2b2;
      pointer-events: none;
    }
  }
  &-control {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px 0;
    border-radius: 0;
    font-size: 19px;
    color: #151515;
    margin: 0;
    @include box-shadow(none);

    &[readonly] {
      background: #fff;
    }
    &:focus {
      border-bottom: 1px solid #e0e0e0;
      @include box-shadow(none);
    }
    &.fs-15 {
      font-size: 15px;
      line-height: 19px;
    }
  }
  &-placeholder {
    font-size: 12px;
    color: #b3b3b3;
    position: absolute;
    top: 5px;
    left: 0;
    pointer-events: none;
    @include transition(all .3s ease);
  }
  &-mini {
    max-width: 305px;
    margin: 35px auto 0;

    .form {
      &-group {
        margin-bottom: 0;
      }
      &-control {
        padding: 10px 15px;
        height: 45px;
        font-size: 19px;
        line-height: 19px;

        @include placeholder{
          font-size: 19px;
        }
      }
    }
    .btn {
      width: 100%;
      font-size: 19px;
      padding: 14px;
    }
  }
  &-border {
    border: 1px solid $border-color;
    border-radius: 2px;
    margin-bottom: 14px;

    .form {
      &-group {
        &:last-child {
          .form-control {
            border-bottom: 0;
          }
        }
      }
    }
  }
  &-footer {
    font-size: 13px;
    margin-top: 30px;

    a {
      font-size: 13px;
    }
  }
  &-error {
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
    color: #d52b47;
  }
}