.post {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 60px;
    z-index: 100;
    padding: 6px 17px;

    .site-header-container {
      max-width: 100%;
    }
    .profile {
      &-details {
        width: auto;
        max-height: 60px;

        .follow {
          vertical-align: top;
          margin-top: 6px;
          color: $text-color;

          &:before,
          &:after {
            background: $text-color;
          }
          &:hover {
            color: $white;

            &:before,
            &:after {
              background: $white;
            }
          }
        }
        .name {
          display: block;
          width: 100%;
          font-size: 15px;
          color: $text-color;
          font-weight: 500;
          margin-bottom: 0;
        }
        .date {
          span {
            color: $gray-color;
          }
        }
        @media (max-width: $screen-sm-max) {
          display: none;
        }
      }
      &-thumb {
        float: left;
        margin-right: 5px;
        max-height: 60px;

        img {
          max-height: 48px;
        }
      }
      &-info {
        display: inline-block;
        max-height: 60px;
      }
    }
    .feed {
      &-tools {
        padding: 12px 0;

        .tool {
          margin-left: 30px;
        }
        @media (max-width: $screen-sm-max) {
          .tool {
            margin-left: 20px;
          }
        }
        @media (max-width: $screen-xs-max) {
          padding: 4px 0;

          .tool {
            margin-left: 12px;

            &.like {
              margin-left: 0;
            }
          }
          .icon-cross {
            max-width: 30px;
          }
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      padding: 6px 10px;
      height: 40px;
    }
  }
  &-video {
    margin-top: 20px;
    height: calc(100vh - 60px);

    iframe {
      width: 100%;
      height: calc(100vh - 60px);
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 0;
      height: calc(100vh - 40px);

      iframe {
        height: calc(100vh - 40px);
      }
    }
  }
  &-title {
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 25px;

    @media (max-width: $screen-sm-max) {
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 20px;
    }
  }
  &-description {
    p {
      margin-bottom: 30px;
    }
    @media (max-width: $screen-sm-max) {
      p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 25px;
      }
    }
  }
  &-profile {
    padding: 15px;
    display: none;
    border-bottom: 1px solid $border-color;

    &-thumb {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
    &-info {
      display: inline-block;
      vertical-align: middle;

      .date {
        font-size: 15px;
        color: $text-color;

        span {
          color: $gray-color;
        }
      }
    }
    @media (max-width: $screen-sm-max) {
      &.mobile {
        display: block;
      }
    }
    @media (max-width: $screen-xs-max) {
      &-thumb {
        img {
          max-width: 40px;
          max-height: 40px;
        }
      }
    }
    @media (max-width: 380px) {
      padding: 15px 10px;

      &-thumb {
        img {
          max-width: 25px;
          max-height: 25px;
        }
      }
      &-info {
        font-size: 12px;

        .date {
          font-size: 12px;
        }
      }
    }
  }
  &-shared {
    margin-bottom: 60px;

    .jssocials {
      display: inline-block;
      vertical-align: middle;

      &-shares {
        margin: 0;
      }
    }
    .heading-info {
      display: inline-block;
      vertical-align: middle;
      padding: 4px 15px;
    }
  }
  &-comments {
    margin-bottom: 25px;

    &.mobile {
      display: none;
    }
    &-item {
      position: relative;
      margin-bottom: 25px;

      .post-comments-item {
        margin-top: 25px;
        padding-left: 30px;
      }
      .icon-more {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;

        &:hover {
          color: $main-color;
        }
      }
      .date {
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        color: #999;
      }
      .reply {
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        color: #999;
      }
    }
    &-thumb {
      margin-bottom: 10px;

      img {
        display: inline-block;
        vertical-align: middle;
        max-width: 32px;
        max-height: 32px;
        margin-right: 10px;
      }
      .title {
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
      }
    }
    &-more {
      font-size: 13px;
    }
    &-content {
      font-size: 13px;
      line-height: 18px;
    }
    h3 {
      margin: 0 0 15px;
      font-size: 18px;
    }
    .btn {
      margin-bottom: 30px;
    }
    @media (max-width: $screen-sm-max) {
      display: none;

      &.mobile {
        display: block;
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    &.inside-40 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &-shared {
      margin-bottom: 40px;
    }
  }
}