.topic {
  &-container {

  }
  &-item {
    background: #F4F4F4;
    padding: 13px 24px;
    border-radius: 4px;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 500;

    .join {
      font-size: 15px;
      float: right;
    }
  }
  @media (max-width: $screen-xs-max) {
    &-item {
      text-align: center;

      .join {
        float: none;
      }
    }
  }
}