img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none !important;
  color: $link-color;
  @include transition(all .3s ease);

  &.hover,
  &:hover {
    color: $link-hover-color;
    text-decoration: none !important;
  }
  &.link {
    color: $main-color;
  }
  &.active {
    color: $main-color;
  }
}
p {
  color: $text-color;
  font-size: $font-size;
  line-height: 19px;
}
strong {
  font-weight: 700;
}
ol {
  li {
    margin: 0 0 10px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input,
textarea,
select {
  width: 100%;
  padding: 20px 25px 13px;
  outline: none !important;
  @include transition(all .5s ease);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  padding: 6px 10px;
  border-color: $border-color;
  margin-bottom: 10px;
  resize: none;
}
button,
input,
textarea,
a {
  outline: none !important;
}
.text {
  &-gray {
    color: $gray-color;
  }
  &-black {
    color: $text-color;
  }
}
.checkbox {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin-right: 25px;
  padding-left: 25px;
  @include transition(all .3s ease);

  input {
    display: none;

    &:checked {
      ~ .text {
        color: $text-color;
      }
      ~ .icn {
        background: url('../img/svg/check.svg') no-repeat;
        background-size: cover;
      }
    }
  }
  .icn {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    @include transition(all .3s ease);
  }
  .text {
    color: $gray-color;
    @include transition(all .3s ease);
  }
}