/* Fonts */
$font-family-base:        'Soleil', sans-serif;
$font-size:                    15px;

/* Main */
$main-color:                   #3b31c6;
$white:                        #fff;
$black:                        #000;

$text-color:                   #151515;
$text-second-color:            #1a1a1a;
$gray-color:                   #b2b2b2;

$border-color:                 #E1E1E1;

/* Links */
$link-color:                   $black;
$link-hover-color:             $main-color;

/* Buttons */
$btn-default-bg:               $white;
$btn-default-bg-hover:         #3b31c6;
$btn-default-bg-active:        #3e36ad;
$btn-default-color:            $black;
$btn-default-color-hover:      $white;
$btn-default-color-disabled:   #9a9a9a;